<h2>About Us</h2>
<p>Our goal is to help people in underserved areas improve their lives and their communities by: 
<ul>
<li>Teaching digital arts courses that have students create projects that have a social impact</li>
<li>Guiding underrepresented minorities into a STEM (Science, Technology, Engineering, & Math) Pipeline.</li>
</ul>
</p>