<h2>Our Courses</h2>
<p> We will be offering the following courses this fall:</p>
<p><b>Web Design & Development with Wordpress and Gantry</b></p>
<p><b>Video Game Design with Unity</b></p>
<p><b>Introduction to Graphic Design</b></p>
